* {
    /* font-family: 'NYTFranklin', helvetica, arial, sans-serif; */
}

@font-face { 
    font-family: 'NYTFranklin';
    src: url('../fonts/franklin-normal-600.ttf');
}

@font-face { 
    font-family: 'NYTImperial-500';
    src: url('../fonts/imperial-normal-500.ttf');
}

@font-face { 
    font-family: 'NYTImperial-600';
    src: url('../fonts/imperial-normal-600.ttf');
}

@font-face { 
    font-family: 'Imperial BT';
    src: url('../fonts/imperial.ttf');
}

@font-face { 
    font-family: 'NYTCheltenham-italic-500';
    src: url('../fonts/cheltenham-italic-500.ttf');
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px;
}

#nav-link {
    text-decoration: none;
    font-size: 14.25px;
    color: black;
    font-weight: 700;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left-item {
    margin-right: 28px;
    font-size: 14px;
    cursor: pointer;
}

nav img {
    width: 200px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right button {
    font-size: 10px;
    letter-spacing: 0.4px;
    background-color: #567b95;
    color: white;
    padding: 8px 12px 8px;
    border-radius: 3px;
    border: 1px solid #326891;
    font-weight: bold;
    margin-left: 7px;
    cursor: pointer;
}

/* Main section */

article {
    margin-top: 41px;
    font-family: 'NYTImperial-500', helvetica, arial, sans-serif;
    font-size: 14px;
    color: #666;
}

.article-title-container {
    width: 600px;
    margin: auto;
    padding: 50px 0 20px 0;
}

article h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    height: 96px;
    font-family: "NYTCheltenham-italic-500", Georgia;
    color: #121212;
}

article h2 {
    padding: 18px 0;
    font-family: 'NYTImperial-600', helvetica, arial, sans-serif;
}

/* Article's main image */

article figure {
    margin: auto;
    text-align: center;
    width: 945px;
}

article figure .main-img {
    width: 945px;
}

article figure figcaption{
    max-width: 720px;
    text-align: left;
    font-size: 15px;
    line-height: 22px;
}

#picture-credits {
    font-size: 13px;
    color: #888;
}

/* First Section */

#first-section {
    width: 600px;
    margin: 35px auto 0 auto;
    font-size: 20px;
    line-height: 30px;
    color: #333;
}

#author {
    text-decoration: bold;
    font-size: 16px;
    font-family: 'NYTFranklin', Helvetica, Arial, sans-serif;
}

#author a {
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: inherit;
}

#date-and-socials {
    width: 100%;
    margin: 15px 0  15px 0;
    display: flex;
    justify-content: space-between;
}

#date {
    font-size: 14px;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#socials i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer; 
}

#socials i.round {
    border-radius: 50%;
    background-color: #eee;
    width: 25px;
    height: 25px;
}

#socials i.round:hover {
    background-color: white;
    border: 1px solid #eee;
}

#socials i.big-icon {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: gray;
}

.comment-icon-container {
    position: relative;
}

.comments-count {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 10px;
}

div.empty-space {
    margin: 15px 0;
}

/* CTA Container */

.cta-container {
    height: 70px;
    margin: 30px 0;
    position: relative;
    font-family: 'NYTFranklin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

#cta-borders {
    position: absolute;
    top: 0;
    left: 270px;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 60px;
    height: 70px;
}

.cta-container span {
    display: block;
    text-align: center;
    line-height: 18px;
}

.cta-container span:first-child {
    padding-top: 16px;
}

.cta-container span:last-child {
    padding-bottom: 16px;
}

.cta-container a {
    color: rgb(50, 104, 145);
    text-decoration: none;
    cursor: pointer;
}

/* Editors' pick */

aside {
    position: absolute;
    top: 200vh;
    right: 7vw;
}

#editors-pick-container {
    width: 210px;
    display: flex;
    flex-direction: column;
}

.editors-pick-article {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#editors-pick-container h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 10px;
    color: black;
}

.editors-pick-article {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.editors-pick-article a {
    text-decoration: none;
    color: #333333;
}

.editors-pick-article img {
    width: 75px;
    height: 75px;
    margin-right: 5px;
}

/* Second section */

#second-section {
    margin: 0 auto;
    width: 945px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#second-section h2, #second-section p {
    grid-column: 1/5;
}

.grid-item img {
    width: 100%;
}





